.wrapper {
  padding: 6rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--font-inter), sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: var(--font-lora), serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  color: #0f172a;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card {
  background-color: #fff;
  padding: 1.8rem;
  border-radius: 0.75rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid #e2e8f0;

  display: flex;
  flex-direction: column;

  height: 320px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.cardTitle {
  font-family: var(--font-lora), serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0f172a;
}

.excerpt {
  margin-top: 0.5rem;
  color: #334155;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.date {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #64748b;
  margin-top: auto;
}

/* Responsive */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
